<div class="container">
    <div class="images">
        <img src={{movie.image}}>
        <div class="movie-titles">
            <a class="go-back" href="/movies/">Go back</a>
            <h1 class="iron-cinema">{{movie.title}}</h1>
            <h2>Director: {{movie.director}}</h2>
            <h3 class="h3-stars">Stars</h3>
            <ul>
                {{#each movie.stars}}
                <li class="ul-stars">{{this}}</li>
                {{/each}}
            </ul>
            <p class="p-movies">{{movie.description}}</p>
            <p class="p-movies">{{movie.showtimes}}</p>
        </div>
    </div>
</div>